 
{% extends '_layout.html' %}

{% block header %}
<div class="grid grid--middle grid--guttered">
  <div class="col col--1of12 col--phone--5of12">{{super()}}</div>
  <div class="col col--6of12 hide_on_phone"><a class="pill" href="https://goodfac.es/{{face.handle}}">goodfac.es/{{face.handle}}</a></div>
  <div class="col col--5of12 col--phone--7of12 text_right">
    {% if request.current_session and request.current_session.user_id == face._id %}
    <button data-toggle-edit class="button button--small button--grey">Edit your profile</button>
    {% else %}
    <a href="/faces/{{face.handle}}/contact" class="button">Message {{face.first_name}}</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block main %}
<div class="padded padded--big_top white_back">
  <div class="grid grid--center grid--guttered">
    <div class="col col--10of12">
      <div class="medium_bottom"><img class="img--small rounded" src="https://montrealuploads.imgix.net{{face.profile_photo}}?auto=format,compress&fit=crop&w=600&h=600&crop=faces" alt="{{face.first_name}}'s Photo"></div>
      <h1 class="max_width">{{face.first_name}} {{face.last_name}} is <span class="highlight">available</span> for freelance {% for category in face.categories %}<a href="/faces" class="underline">{{category|category_action}}</a>{% if not loop.last %} / {% endif %}{% endfor %}.</h1>
    </div>
    <div class="col col--12of12"></div>
    <div class="col col--12of12">
      <div class="grid grid--guttered full_images">
        {% for photo in face.photos %}
        <div class="col col--3of12 col--tablet_portrait--6of12">
          <a href="https://montrealuploads.imgix.net{{photo}}" target="_blank"><img class="rounded shadowed img--clickable" src="https://montrealuploads.imgix.net{{photo}}?auto=format,compress&fit=crop&w=900&h=900&crop=faces" data-toggle-gallery="{{loop.index0}}"></a>
        </div>
        {% endfor %}
      </div>
      <div id="gallery"></div>
      <script>
        window.components.push({
          element: "#gallery",
          component: "Gallery",
          data: {
            photos: [{% for photo in face.photos %}"https://montrealuploads.imgix.net{{photo}}?auto=format,compress&w=1333"{% if not loop.last %},{% endif %}{% endfor %}]
          }
        })
      </script>
    </div>
    <div class="col col--12of12"></div>
    <div class="col col--10of12">
      <div class="max_width">
        <h4>City</h4>
        <p><a href="/faces/cities/{{face.city}}" class="underline">{{face.city}}</a></p>

        <h4>Bio</h4>
        <p>{{face.bio}}</p>

        <h4>Appeared in</h4>
        <p>{% for link in face.links %}<a href="{{link.url}}" target="_blank">{{link.label}}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>

        <h4>Tags</h4>
        <p>{% for tag in face.tags %}<a href="/faces/tagged/{{tag}}" class="tag">{{tag|tag('model')}}</a>{% endfor %}</p>

        <h4>Accepted Offers</h4>
        <p>{{face.accepted_offers}}</p>
      </div>
    </div>
  </div>
</div>

{% if request.current_session and request.current_session.user_id == face._id %}
<div id="edit"></div>
<script>
  window.components.push({
    element: "#edit",
    component: "Edit",
    data: {
      model: "Face",
      modelId: "{{face._id}}",
      values: {{face|json}},
      fields: [
        {
          type: "text",
          name: "first_name",
          label: "First name",
          placeholder: "Good"
        },
        {
          type: "text",
          name: "last_name",
          label: "Last name",
          placeholder: "Face",
          optional: true
        },
        {
          type: "text",
          name: "instagram_handle",
          label: "Instagram Handle",
          placeholder: "goodfaces",
          optional: true
        },
        {
          type: "url",
          name: "portfolio_url",
          label: "Portfolio Link",
          placeholder: "https://yourporfolio.com",
          optional: true
        },
        {
          type: "text",
          name: "city",
          label: "City",
          placeholder: "Montreal"
        },
        {
          type: "textarea",
          name: "bio",
          label: "Bio",
          placeholder: "A few lines about yourself"
        },
        {
          type: "photos",
          name: "photos",
          label: "Photos"
        },
        {
          type: "tags",
          name: "tags",
          tags: {{categories[0].tags|tojson}}
        },
        {
          type: "textarea",
          name: "accepted_offers",
          label: "Accepted Offers",
          placeholder: "Money, clothing, photos, food..."
        }
      ]
    }
  })
</script>
{% endif %}
{% endblock %}