 
{% extends '_layout.html' %}

{% block header %}
<div class="grid grid--middle grid--spaced">
  <div class="col col--3of12">{{super()}}</div>
  <div><span class="hide_on_tablet_portrait">{{pieces.seo.tagline}}</span></div>
  <div class="col col--3of12 text_right"><a href="/faces">View Profiles</a> / {% if request.current_session %}<a href="/faces/" class="underline" data-toggle-account>Your account</a>{% else %}<a href="/faces/new">Sign up</a>{% endif %}</div>
</div>
{% endblock %}

{% block main %}
<div class="padded padded--big_top">
  <div class="medium_bottom max_width max_width--center text_center">
    <h1>{{pieces.landing.title}}</h1>
    {# <h1 class="h1--logo">Good Faces</h1> #}
    {# <p>Coming in: <span id="timer">-- days -- hours -- minutes -- seconds</span></p> #}
  </div>
  {# <script>
    window.components.push({
      element: "#timer",
      component: "Timer",
      data: {
        until: new Date("2018-03-17T12:00:00")
      }
    })
  </script> #}

  {# <div class="big_bottom full_images hide_on_tablet_portrait">
    <img class="rounded shadowed" src="https://montrealuploads.imgix.net/faces/home_0.jpg?auto=format,compress">
  </div> #}

  <div class="grid grid--guttered full_images big_bottom">
    {% for face in faces %}
    <div class="col col--3of12 col--tablet_portrait--6of12">
      <a href="/faces/{{face.handle}}" class="a--translates block"><img class="rounded shadowed" src="https://montrealuploads.imgix.net{{face.profile_photo}}?auto=format,compress&fit=crop&w=600&h=600&crop=faces"></a>
    </div>
    {% endfor %}
  </div>

  {# <div id="gallery"></div>
  <script>
    window.components.push({
      element: "#gallery",
      component: "Gallery",
      data: {
        photos: [{% for photo in ['/faces/home_1.png', '/faces/home_4.png', '/faces/home_3.png', '/faces/home_6.png', '/faces/home_7.png', '/faces/home_8.jpeg', '/faces/home_9.png'] %}"https://montrealuploads.imgix.net{{photo}}?auto=format,compress&w=1333"{% if not loop.last %},{% endif %}{% endfor %}]
      }
    })
  </script> #}

  {# <div class="padded text_center">
    <h2>{{pieces.landing.join}}</h2>
  </div> #}

  <div class="grid grid--middle max_width max_width--big max_width--center">
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>{{pieces.landing.party}}</h3>
      <p>{{pieces.landing.party_body}}</p>
    </div>
    {# <div class="col col--6of12 col--tablet_portrait--first col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      <img class="rounded shadowed img--center" src="https://montrealuploads.imgix.net/faces/home_2_2.jpg?auto=format,compress">
      <div class="absolute absolute--bottom_right absolute--behind">{% include 'vectors/background_1.svg' %}</div>
    </div>
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      <img class="rounded shadowed img--center" src="https://montrealuploads.imgix.net/faces/home_1_2.jpg?auto=format,compress">
      <div class="absolute absolute--top_left absolute--behind">{% include 'vectors/background_2.svg' %}</div>
    </div> #}
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>{{pieces.landing.no_hassle}}</h3>
      <p>{{pieces.landing.no_hassle_body}}</p>
    </div>
    <div class="col col--6of12 col--tablet_portrait--last col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>{{pieces.landing.shots}}</h3>
      <p>{{pieces.landing.shots_body}}</p>
    </div>
    {# <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      <img class="rounded shadowed img--center" src="https://montrealuploads.imgix.net/faces/home_3_2.jpg?auto=format,compress">
      <div class="absolute absolute--top_right absolute--behind">{% include 'vectors/background_3.svg' %}</div>
    </div> #}
  </div>

  <div class="absolute_container">
    <div class="padded grey_back max_width max_width--big max_width--center big_bottom">
      <h2 class="text_center">{{pieces.landing.how_title}}</h2>
      <div class="grid grid--center grid--guttered">
        <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12">
          {{pieces.landing.how_1|safe}}
        </div>
        <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12">
          {{pieces.landing.how_2|safe}}
        </div>
      </div>
    </div>
    {# <div class="absolute absolute--bottom_right absolute--behind">{% include 'vectors/background_4.svg' %}</div> #}
  </div>

  <div class="padded text_center">
    <h2>{{pieces.landing.apply}}</h2>
  </div>

  <div class="grid grid--center big_bottom" id="newsletter"></div>
  <script>
    window.components.push({
      element: "#newsletter",
      component: "Form",
      data: {
        model: "NewsletterEmail",
        cta: "{{pieces.landing.apply_cta}}",
        redirect: "/thanks",
        className: "col col--5of12 col--tablet_landscape--7of12 col--tablet_portrait--9of12 col--phone--12of12",
        fields: [
          {
            type: "email",
            name: "email",
            label: "{{pieces.faces.email}}",
            placeholder: "your.email.address@gmail.com"
          },
          {
            type: "text",
            name: "instagram_handle",
            label: "{{pieces.faces.instagram_handle}}",
            placeholder: "goodfaces",
            optional: true
          }
        ]
      }
    })
  </script>
</div>

{# <div>{% include 'vectors/background.svg' %}</div> #}

{# {% include 'faces/_faces.html' %} #}
{% endblock %}
