 
{% extends '_layout.html' %}

{% block header %}
<div class="grid grid--middle grid--spaced">
  <div>{{super()}}</div>
  <div>Hire everyday people for your photoshoots.</div>
  <div id><a href="">Login</a> / <a href="">Sign up</a></div>
</div>
{% endblock %}

{% block main %}
<div class="padded padded--big_top white_back">
  <h1 class="h1--massive">Good faces</h1>
  <div class="grid grid--guttered full_images">
    {% for face in faces %}
    <div class="col col--3of12">
      <a href="/faces/{{face.handle}}"><img class="rounded shadowed" src="https://montrealuploads.imgix.net{{face.profile_photo}}?auto=format,compress&fit=crop&w=600&h=600&crop=faces"></a>
    </div>
    {% endfor %}
  </div>
</div>

{% include 'faces/_faces.html' %}
{% endblock %}