 
{% extends '_layout.html' %}

{% block header %}
<div class="grid grid--middle grid--spaced">
  <div class="tablet_portrait_only"></div>
  <div class="">{{super()}}</div>
  <div><span class="hide_on_tablet_portrait">Book the right people for your next photoshoot.</span></div>
  {# <div class="col col--3of12">{% if request.current_session %}<a href="/faces/" class="underline" data-toggle-account>Your account</a>{% else %}<a href="/login" data-toggle-account>Login</a> / <a href="/faces/new">Sign up</a>{% endif %}</div> #}
</div>
{% endblock %}

{% block main %}
<div class="padded padded--big_top">
  <div class="medium_bottom max_width max_width--center text_center">
    <h1>A people-powered platform connecting Good Brands with Good Faces. ✌</h1>
    {# <h1 class="h1--logo">Good Faces</h1> #}
    <p>Coming in: <span id="timer">-- days -- hours -- minutes -- seconds</span></p>
  </div>
  <script>
    window.components.push({
      element: "#timer",
      component: "Timer",
      data: {
        until: new Date("2018-03-17T12:00:00")
      }
    })
  </script>

  <div class="big_bottom full_images hide_on_tablet_portrait">
    <img class="rounded shadowed" src="https://montrealuploads.imgix.net/faces/home_0.jpg?auto=format,compress">
  </div>

  {# <div class="grid grid--tight_guttered big_bottom full_images">
    {% for photo in ['/faces/home_1.png', '/faces/home_4.png', '/faces/home_3.png', '/faces/home_6.png'] %}
    <div class="col col--3of12 col--tablet_portrait--6of12">
      <a href="https://montrealuploads.imgix.net{{photo}}?auto=format,compress"><img class="rounded shadowed img--clickable" src="https://montrealuploads.imgix.net{{photo}}?auto=format,compress&fit=crop&w=600&h=600&crop=faces" data-toggle-gallery="{{loop.index0}}"></a>
    </div>
    {% endfor %}
  </div> #}

  {# <div id="gallery"></div>
  <script>
    window.components.push({
      element: "#gallery",
      component: "Gallery",
      data: {
        photos: [{% for photo in ['/faces/home_1.png', '/faces/home_4.png', '/faces/home_3.png', '/faces/home_6.png', '/faces/home_7.png', '/faces/home_8.jpeg', '/faces/home_9.png'] %}"https://montrealuploads.imgix.net{{photo}}?auto=format,compress&w=1333"{% if not loop.last %},{% endif %}{% endfor %}]
      }
    })
  </script> #}

  <div class="padded text_center">
    <h2>Join the Club</h2>
  </div>

  <div class="grid grid--middle max_width max_width--big max_width--center big_bottom">
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>It's a Party 🎉</h3>
      <p>Good Faces is a party, and you’re invited! We celebrate diversity and we want to help brands use Faces that look like the people who use their product IRL.</p>
    </div>
    <div class="col col--6of12 col--tablet_portrait--first col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      {# <a href="https://montrealuploads.imgix.net/faces/home_7.png?auto=format,compress"><img class="rounded shadowed img--clickable" src="https://montrealuploads.imgix.net/faces/home_7.png?auto=format,compress&fit=crop&w=333&h=366&crop=faces" data-toggle-gallery="4"></a> #}
      <img class="rounded shadowed" src="https://montrealuploads.imgix.net/faces/home_1_2.jpg?auto=format,compress">
      <div class="absolute absolute--bottom_right absolute--behind">{% include 'vectors/background_1.svg' %}</div>
    </div>
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      {# <a href="https://montrealuploads.imgix.net/faces/home_8.jpeg?auto=format,compress"><img class="rounded shadowed img--clickable" src="https://montrealuploads.imgix.net/faces/home_8.jpeg?auto=format,compress&fit=crop&w=333&h=366&crop=faces" data-toggle-gallery="5"></a> #}
      <img class="rounded shadowed" src="https://montrealuploads.imgix.net/faces/home_2_2.jpg?auto=format,compress">
      <div class="absolute absolute--top_left absolute--behind">{% include 'vectors/background_2.svg' %}</div>
    </div>
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>Hassle-Free 🙌</h3>
      <p>Forget the middle-man or scouring the Gram’ for ages! With our filters, you can see who is available in a given city, and more importantly, who has the right look and personality for the job!</p>
    </div>
    <div class="col col--6of12 col--tablet_portrait--last col--tablet_portrait--9of12 col--phone--12of12 padded">
      <h3>You call the shots 😍</h3>
      <p>Maybe you love being in front of the camera, need some extra cash or are looking for new opportunities to collaborate and create something Good with brands you love. You will be in control of which brands you work with and what you receive in return.</p>
    </div>
    <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12 padded padded--thick absolute_container">
      {# <a href="https://montrealuploads.imgix.net/faces/home_9.png?auto=format,compress"><img class="rounded shadowed img--clickable" src="https://montrealuploads.imgix.net/faces/home_9.png?auto=format,compress&fit=crop&w=333&h=366&crop=faces" data-toggle-gallery="6"></a> #}
      <img class="rounded shadowed" src="https://montrealuploads.imgix.net/faces/home_3_2.jpg?auto=format,compress">
      <div class="absolute absolute--top_right absolute--behind">{% include 'vectors/background_3.svg' %}</div>
    </div>
  </div>

  <div class="absolute_container">
    <div class="padded grey_back max_width max_width--big max_width--center big_bottom">
      <h2 class="text_center">How can I join the club?</h2>
      <div class="grid grid--center grid--guttered">
        <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12">
          <p><strong>Create a profile and request to join the club.</strong><br><br>Profiles on Good Faces are curated. We want to make sure the Good Brands we work with can find the right models for their shoots.</p>
        </div>
        <div class="col col--6of12 col--tablet_portrait--9of12 col--phone--12of12">
          To help make sure your profile gets approved:<ul><li>The more photos the better! Provide at least 2 headshots and 2 full-body shots.</li><li>No tags are obligatory on your profile, but make sure the tags you choose are accurate and represent you best.</li></ul>
        </div>
      </div>
    </div>
    <div class="absolute absolute--bottom_right absolute--behind">{% include 'vectors/background_4.svg' %}</div>
  </div>

  <div class="padded text_center">
    <h2>Apply to become a Good Face</h2>
  </div>

  <div class="grid grid--center big_bottom" id="newsletter"></div>
  <script>
    window.components.push({
      element: "#newsletter",
      component: "Form",
      data: {
        model: "NewsletterEmail",
        cta: "Send Request",
        redirect: "/thanks",
        className: "col col--5of12 col--tablet_landscape--7of12 col--tablet_portrait--9of12 col--phone--12of12",
        fields: [
          {
            type: "email",
            name: "email",
            label: "Email address",
            placeholder: "your.email.address@gmail.com"
          },
          {
            type: "text",
            name: "instagram_handle",
            label: "Instagram Handle",
            placeholder: "goodfaces",
            optional: true
          }
        ]
      }
    })
  </script>
</div>

{# <div>{% include 'vectors/background.svg' %}</div> #}

{# {% include 'faces/_faces.html' %} #}
{% endblock %}
