<!doctype html>
<html>
  <head>
    {% include 'head.html' %}
  </head>

  <body>
    <script>
      window.components = []
    </script>

    <header class="header">
      {% block header %}<a href="{{lang_route}}" class="highlight">{% include 'vectors/logo.svg' %}</a>{% endblock %}
      <nav class="header__bottom_right">
        <a href="{{current_path}}">En</a>
        <a href="/fr{{current_path}}">Fr</a>
        <a href="/kr{{current_path}}">Kr</a>
        <a href="/ja{{current_path}}">Ja</a>
      </nav>
    </header>
    
    <section class="main" role="main">{% block main %}{% endblock %}</section>
    
    <footer class="footer">
      {% block footer %}
      <div class="grid grid--middle grid--spaced">
        <div class="col col--6of12"><strong>&copy;2018 Good Faces</strong></div>
        <div class="col col--6of12 text_right">
          <a href="https://www.facebook.com/goodfacesclub/" target="_blank">{% include 'vectors/facebook.svg' %}</a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/goodfaces.club/" target="_blank">{% include 'vectors/instagram.svg' %}</a>
        </div>
      </div>
      {% endblock %}
    </footer>

    <div id="account" data-turbolinks-permanent></div>
    <script data-turbolinks-eval="false">
      window.components.push({
        element: "#account",
        component: "Account",
        data: {
          {% if request.current_session %}session: {{request.current_session|json}}{% endif %}
        }
      })
    </script>

    {% include 'scripts.html' %}
  </body>
</html>