<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>{% block title %}Faces{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/files/all.css?v={{timestamp}}">
  </head>

  <body>
    <script>
      window.components = []
    </script>

    <header class="header">{% block header %}<a href="/">{% include 'icons/logo.svg' %}</a>{% endblock %}</header>
    <section class="main" role="main">{% block main %}{% endblock %}</section>
    <footer class="footer">{% block footer %}<a href="/about">About</a> / <a href="/posts">Blog posts</a>{% endblock %}</footer>

    <div id="account" data-turbolinks-permanent></div>
    <script data-turbolinks-eval="false">
      window.components.push({
        element: "#account",
        component: "Account",
        data: {
          {% if request.current_session %}session: {{request.current_session|json}}{% endif %}
        }
      })
    </script>

    {% block scripts %}
    {% if development %}
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js" data-turbolinks-eval="false"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.development.js" data-turbolinks-eval="false"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js" data-turbolinks-eval="false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.production.min.js" data-turbolinks-eval="false"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js" data-turbolinks-eval="false" data-turbolinks-suppress-warning></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/keymaster/1.6.1/keymaster.min.js" data-turbolinks-eval="false"></script>

    <script>
      window.current_path = "{{current_path}}";
      window.lang = "{{lang}}";
      window.lang_route = "{{lang_route}}";
    </script>
    
    <script src="/files/app.js?v={{timestamp}}" data-turbolinks-eval="false" async></script>
    
    {% if development %}
    <script src="//localhost:35729/livereload.js" data-turbolinks-eval="false" async></script>    
    {% endif %}
    {% endblock %}
  </body>
</html>