<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Accept-CH" content="DPR,Width,Viewport-Width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title>{% block title %}Good Faces{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.11/flickity.min.css" />
    <link rel="stylesheet" type="text/css" href="/files/all.css?v={{timestamp}}">
  </head>

  <body>
    <script>
      window.components = []
    </script>

    <header class="header">{% block header %}<a href="/" class="highlight">{% include 'vectors/logo.svg' %}</a>{% endblock %}</header>
    <section class="main" role="main">{% block main %}{% endblock %}</section>
    <footer class="footer">
      {% block footer %}
      <div class="grid grid--middle grid--spaced">
        <div class="col col--6of12"><strong>&copy;2018 Good Faces</strong></div>
        <div class="col col--6of12 text_right">
          <a href="https://www.facebook.com/goodfacesclub/" target="_blank">{% include 'vectors/facebook.svg' %}</a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.instagram.com/goodfacesclub/" target="_blank">{% include 'vectors/instagram.svg' %}</a>
        </div>
      </div>
      {% endblock %}
    </footer>

    <div id="account" data-turbolinks-permanent></div>
    <script data-turbolinks-eval="false">
      window.components.push({
        element: "#account",
        component: "Account",
        data: {
          {% if request.current_session %}session: {{request.current_session|json}}{% endif %}
        }
      })
    </script>

    {% block scripts %}
    {% if development %}
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js" data-turbolinks-eval="false"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.development.js" data-turbolinks-eval="false"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.production.min.js" data-turbolinks-eval="false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.2.0/umd/react-dom.production.min.js" data-turbolinks-eval="false"></script>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js" data-turbolinks-eval="false" data-turbolinks-suppress-warning></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/keymaster/1.6.1/keymaster.min.js" data-turbolinks-eval="false"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.11/flickity.pkgd.min.js" data-turbolinks-eval="false"></script>

    {% if not development %}
    <script data-turbolinks-eval="false">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40301409-7', 'auto');
    </script>
    {% endif %}


    <script>
      window.current_path = "{{current_path}}";
      window.lang = "{{lang}}";
      window.lang_route = "{{lang_route}}";
    </script>
    
    <script src="/files/app.js?v={{timestamp}}" data-turbolinks-eval="false" async></script>
    
    {% if development %}
    <script src="//localhost:35729/livereload.js" data-turbolinks-eval="false" async></script>    
    {% endif %}
    {% endblock %}
  </body>
</html>