.button,
button {
  outline: none;
  cursor: pointer;
  position: relative;
  display: inline-block;

  color: $white;
  text-decoration: none;
  font-size: $slight_size;
  font-family: $alternate_font;
  text-align: center;

  background: $highlight;
  padding: $vertical_rythm/2 $vertical_rythm;
  border: none;
  border-radius: $border_radius;

  &.button--grey {
    background: $grey--dark;
  }

  &:hover,
  &:focus {
    color: $white;
    background: $black;
    text-decoration: none;
  }

  &:active {
    top: 1px;
  }

  &.button--small {
    font-size: $small_size;
    padding: $vertical_rythm/4 $vertical_rythm/2;
  }

  &.button--transparent {
    color: inherit;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;

    &:hover,
    &:focus {
      color: $highlight;
    }
  }

  &.button--full {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.2;
  }
}