


// #LABELS

label,
.label {
  cursor: pointer;
  position: relative;
  display: block;

  color: inherit;
  font-size: $base_size;

  margin-bottom: $vertical_rythm/4;
}

// #CONTENTEDITABLE

[contenteditable] {
  position: relative;
  background: fade-out($black, 0.85);
  // border: 1px solid $highlight;
  // border-radius: $border_radius;
  // padding: 0 $vertical_rythm/4;

  &:active {
    top: 1px;
  }

  .black_back & {
    background: fade-out($green, 0.9);
  }
}


// #INPUTS

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
optgroup,
select,
textarea,
.input {
  position: relative;
  width: 100%;

  font-family: $alternate_font;
  font-size: $base_size;
  font-weight: normal;
  line-height: 1;

  color: $black;
  background: $white;
  padding: $vertical_rythm/4;
  border: 1px solid transparent;
  border-radius: $border_radius;

  &:active {
    background: fade-out($white, 0.2);
  }

  &:disabled,
  form:disabled & {
    opacity: 0.8;
    background: transparent;
    border: none;

    pointer-events: none;
  }

  &:focus {
    // border: 1px solid $green;
  }

  &.input--tight {
    padding: $vertical_rythm/4 $vertical_rythm/2;
  }

  &.input--underline {
    padding: $vertical_rythm/2 0;
    border-bottom: 1px dashed;
  }

  &.input--inline {
    display: inline-block;
    width: auto;

    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 0;
  }

  .input_group & {
    margin-bottom: 0;
  }
}



textarea {
  height: $vertical_rythm*6;
  padding: $vertical_rythm/1.5 $vertical_rythm;
  line-height: $vertical_rythm;

  &.textarea--one_line {
    padding: $vertical_rythm/2 $vertical_rythm;
    height: auto;
  }
}


select {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: border-box;
}

input[type="file"] {
  display: block;
}




:focus {
  outline: none;
  -moz-outline-style: none;
}

::-webkit-input-placeholder, ::-webkit-input-placeholder { color: $grey--dark; }
:-moz-placeholder, :-moz-placeholder { color: $grey--dark; }

