
// #OVERLAYS

.overlay {
  @extend .grid;
  @extend .grid--middle;
  @extend .grid--center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 20;

  opacity: 0;
  visibility: hidden;

  transition: opacity $slow, visibility 0s linear $slow;

  &.overlay--show {
    opacity: 1;
    visibility: visible;

    transition: opacity $slow, visibility 0s;
  }
}

  button.overlay__back {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;

    background: fade-out($white, 0.1);
  }

  .overlay__container {
    position: relative;

    width: 100%;
    max-width: $max_width/3;
    max-height: 100vh;
    overflow-y: auto;

    border: 1px solid $grey;
    border-radius: $border_radius;
    background-color: $white;
  }



