
// #SLIDERS

.slider {
  width: 100%;
  height: 100%;
}

  .slide {
    @extend .grid;
    @extend .grid--middle;
    @extend .grid--center;

    height: 100%;
    width: 66%;

    img {
      max-height: 88vh;
      padding: 0 $vertical_rythm/2;
    }
  }

  .flickity-prev-next-button {
    border-radius: $border_radius;
    padding: 0;

    &:active {
      top: calc(50% + 1px);
    }
  }



