

// #TAGS
.pills,
.tags {

}

  .pill,
  .tag {
    color: $black--dark;
    font-weight: $bold;

    padding: $vertical_rythm/6 $vertical_rythm/3;
    background-color: $grey;
    border-radius: $border_radius;
  }

  .pill {
    border-radius: 1em;
    font-weight: normal;
    padding: $vertical_rythm/4 $vertical_rythm/2;
  }